/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #e6e6e6;
}

nav
{
    width: 100%;
}

.max-card-img-height
{
    height: 450px;
}

.box-shadow
{
    background-color: #fff;
    border: 0px;
    border-radius: 10px;
}

.card{
    border-radius: 10px;
}

.card-img-top
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-body
{
    padding-left: 0px;
}

.align-right
{
    margin-right: 0px;
}

.post
{
    margin-top: 10px;
}

.right-panel
{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.right-panel > hr
{
    border-color: #B41F1F;
    border-width: 3px;
}

.col-md-9 > hr
{
    border-color: #B41F1F;
    border-width: 3px;
}

.box-shadow:hover h2
{
    color: #B41F1F;
    transition: 0.3s;

}

.posts > a, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

 .posts > a:hover{
     text-decoration: none;
     color: inherit;
 }

 .category
 {
     width: 100%;
     color: #fff;
     border-radius: 5px;
     background-color: #B41F1F;
     text-align: center;
     font-size: 20px;
     line-height: 35px;
     margin-bottom: 5px;
}

.categories
{
    padding-bottom: 10px;
}

.categories > a, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

 .categories > a:hover{
     text-decoration: none;
     color: inherit;
 }

.category:hover
{
    background-color: #B4441F;
    border-radius: 10px;
    transition: 0.3s;
}

.log-in > b
{
    color: #fff;
}

.log-in > b:hover
{
    color: #B41F1F;
    transition: 0.2s;
}

footer > p
{
    text-align: center;
}
